.SizeImg {
  max-width: 100%;
  width: 180px;
  height: 180px;
}
.reviewImg {
  max-width: 100%;
  width: 100px;
}

.dropdown-toggle::after {
  color: white;
}
.dropdown-menu .show {
  background-color: black;
}
